*{
    margin: 0;
    padding: 0;
}
p {
    font-size: 40px;
}
.wrapper{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,213,255,0.4108018207282913) 100%);
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(img/header.jpg);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 10%;
    align-items: center;
    padding: 5px;
    border: 2px solid #ffffff;
    background-color: #40AFE4;
}

.logo a {
    font-size: 25px;
    font-weight: bolder;
    text-decoration:none;
}

.logo a:visited{
    text-decoration: none;
}

.title{
    color: #cb0003;
}
.title span {
    color: #0026c7;
}

.fa-star-of-life{
    color: #cb0003;
}
.fa-tooth{
    color: #2f89ff;
}

.btn{
    width: 10%;
    background-color: #40AFE4;
    color: #ffff;
}

.content{
    border: 6px solid #2f89ff;
    margin: 20px auto 0;
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffff0;
}

.footer{
    color: #0011ff;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url(img/header.jpg);
    padding: 20px;
}

/*Modal window*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.container_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.scroll-content{
    margin-top: 40px;
    margin-bottom: 40px;
}
.doctorList{
    display: none;
    margin: 0 auto;
}

.doctorList h2 {
    display: flex;
    color: #3A99FF;
    width: 20%;
    margin: 0 auto 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3a99ff;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #3a99ff;
    color: white;
}

#doctors {
    font-size: 20px;
}
/*card*/
.note {
    display: none;
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 150px;
    height: 250px;
}
.note button {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 11%;
    cursor: pointer;
    background-color: #c31f2e;
}
.note p {
    font-size: 14px;
}

pre {
    white-space: pre-wrap;
}

.card_block{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10%;
    height: 92%;
}

#doctorCard{
    background-color: #911925;
    height: 11%;
}
.showmore {
    cursor: pointer;
    font-weight: bold;
}

.dentist {
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 150px;
    height: 250px;
}

.therapist {
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 150px;
    height: 250px;
}

.cardiologist {
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 150px;
    height: 250px;
}
